{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TodoApp2.0</title>

    <link
      rel="stylesheet"
      href="{% static 'css/styles.min.css' %}"
      type="text/css"
    />
  </head>
  <body class=" bg-white">
    <nav class="relative bg-gray-300 border-gray-300 text-purple-600 font-semibold">
      <div>
        <div></div>

        {% if user.is_autenticated %}
        <div>
          <p>blalal</p>
        </div>
        {% else %}
        <ul>
          <li><a href="http://">Login</a></li>
          <li><a href="http://">SignUp</a></li>
        </ul>
        {% endif %}
      </div>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
