{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TodoApp2.0</title>

    <link
      rel="stylesheet"
      href="{% static 'css/styles.min.css' %}"
      type="text/css"
    />
  </head>
  <body class=" bg-white font-sans leading-normal tracking-normal">
    <nav class="relative bg-gray-300 border-gray-300 
     border-b-2  font-bold py-4">
      <div class=" container mx-auto flex justify-between">
        <div>
          <h1 class=" text-2xl text-purple-600">
            <a href="{% url 'home' %}">TodoV2</a>
          </h1>
        </div>

        {% if user.is_authenticated %}
        <div class=" flex">
          <a class=" px-2 pt-2 text-purple-600" >{{ user.username }} |</a>
          <a class="  pt-2 text-purple-600" href="{% url 'logout' %}">LogOut</a>
        </div>
        {% else %}
        <ul class=" flex">
          <li class=" px-2 pt-2 text-gray-600 hover:text-purple-600">
            <a href="{% url 'login' %}">Login</a>
          </li>
          <li class=" px-2 pt-2 text-gray-600 hover:text-purple-600">
            <a href="{% url 'signup' %}">SignUp</a>
          </li>
        </ul>
        {% endif %}
      </div>
    </nav>
    {% block content %} {% endblock %}
  </body>
</html>
