{% extends 'base.html' %} {% block content %}
<div style="margin:auto;">
  
  {% if user.is_authenticated %}
  <div class=" max-w-xl mx-auto my-16 bg-gray-200 py-4 px-8 
  rounded-lg shadow-xl">
    <div class=" pl-20 py-8 text-2xl text-gray-600">
      <h1>Home Page</h1>
      <p>Welcome back <span class=" font-bold text-purple-600"> {{ user.username }} </span></p>
      <p>View your Todos <a class=" hover:text-purple-600 font-bold" href="{% url 'todo_list' %}">here</a></p>
    </div>
  </div>
  {% else %}
  <div class=" max-w-xl mx-auto my-16 bg-gray-200 py-4 px-8 
  rounded-lg shadow-xl">
    <p>You aren't logged in log in <a href="{% url 'login' %}">Log In</a></p>
    <p>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></p>
  </div>
  {% endif %}
</div>

{% endblock %}
