{% extends 'base.html' %} {% block content %}

<div class=" max-w-xl mx-auto my-10 bg-gray-200 py-4 px-8 
font-sans rounded-lg shadow-xl" >
  <div class=" items-center">
    <h1 class=" text-gray-600 font-semibold text-center text-2xl" >Register Here</h1>
    <form  class=" w-34 pt-6 px-16 text-gray-700" action="" method="post">
      {% csrf_token %} {{ form.as_p }}
      <button class=" ml-32 bg-purple-600 px-8 py-2 mt-8 text-white rounded-lg shadow-md" type="submit">SignUp</button>
    </form>
  </div>
</div>
{% endblock %}
