{% extends 'base.html' %} {% block content %}
<div style="margin: auto;">
  <h1>Todos</h1>
  {% if not object_list %}
  <div>
    <p>looks like you dont have any todos yet</p>
    <p>create some <a href="{% url 'todo_new' %}">here</a></p>
  </div>
  {% else %} {% for todo in object_list %}
  <div>
    <ul>
      <li><a href="{% url 'todo_detail' todo.pk %}">{{ todo.title }}</a></li>
    </ul>
  </div>
  {% endfor %}
  <p><a href="{% url 'todo_new' %}">+New</a></p>
  {% endif %}
</div>
{% endblock %}
