{% extends 'base.html' %} {% block content %}
<div class=" max-w-xl mx-auto my-10 bg-gray-200 py-4 px-8 
font-sans rounded-lg shadow-xl text-gray-600">
  <div class="  ml-24 mb-6">
    <h1 class=" text-purple-500  font-semibold 
     text-2xl mb-4">Todos</h1>
    {% if not object_list %}
    <div class=" mb-4">
      <p>looks like you dont have any todos yet</p>
      <p>create some <a class=" text-indigo-600 font-semibold hover:font-bold" href="{% url 'todo_new' %}">here</a></p>
    </div>
    {% else %} {% for todo in object_list %}
    <div class=" mb-4">
      <ul>
        <li><a class=" hover:font-bold" href="{% url 'todo_detail' todo.pk %}">{{ todo.id }}-{{ todo.title }}</a></li>
      </ul>
    </div>
    {% endfor %}
    <p class=" mb-6"><a class=" text-purple-600" href="{% url 'todo_new' %}">+New</a></p>
    {% endif %}
    <p><a class=" bg-purple-600 px-6 rounded-lg  py-2 text-white font-bold hover:bg-indigo-600 shadow-md" href="{% url 'home' %}">Back home</a></p>
  </div>
</div>
{% endblock %}
