{% extends 'base.html' %} {% block content %}
<div class=" max-w-xl mx-auto my-10 bg-gray-200 py-4 px-8 
font-sans rounded-lg shadow-xl text-gray-600">
  <div class=" items-center mb-5">
    <h1 class=" text-purple-500  font-semibold 
    text-2xl mb-4">create new todo</h1>
    <form action="" method="post">
      {% csrf_token %} {{ form.as_p }}
      <button class=" bg-purple-600 px-6 rounded-lg  py-2 text-white 
      font-bold hover:bg-indigo-600 shadow-md ml-20 mt-6"  type="submit">create</button>
    </form>
  </div>
  
</div>

{% endblock %}
